body {
    margin: 0;
    background-color: #ddd;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > span {
    font-size: 1.7em;
}

svg {
    width: 100vw;
    height: 100vh;
}

.info {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    right: 0;
    bottom: 0;
    width: 35vw;
    height: 60vh;
    background-color: #ddd;
    border-radius: 2em;
    margin: 1em;
    margin-top: 0;
    padding: 1em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info > .title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.2em;
}

.info > .content {
    font-size: 1.1em;
}

.world {
    fill: #639a67;
    cursor: pointer;
}

.world:hover {
    fill: #333;
}

.boundary {
    fill: none;
    stroke: #000;
    stroke-width: 0.01em;
}

#pallete:hover {
    /* transform: scale(2); */
    transition: 0.5s;
    cursor: pointer;
}

.link {
    stroke: #ffb367;
    opacity: 0.25;
    cursor: pointer;
}


.globe:hover {
    cursor: pointer;
}
